{% extends "bootstrap/base.html" %}

{% block title %}{% endblock %}

{% block styles %}
{ { super() } }
<link rel="stylesheet"href="{{url_for('.static', filename='style.css')}}">

{% include 'header.html'%}
{% include 'menu.html'%}
{% endblock %}

{% block content %}


<script>
    let type = localStorage.getItem('type');  
    let data = {
        type : type
    };
    
    $(document).ready(function () {
        $.ajax(
            {
                type: "GET",
                crossDomain: true,
                url: 'http://localhost:8081/load_images',
                contentType: 'application/json',
                data: data,
                success: function (responseData, textStatus, jqXHR) {
                    console.log("RESPONSE DATAAAAAAAAAAAAAAAAAAA IMAGES");
                    console.log(responseData);
                    var acc = JSON.stringify(responseData);
                    console.log("-------------------")
                    console.log(responseData);
                    images = responseData;

                }
            });
        return false;
    });
</script>



    <div class="container">
            <div class="row">
                {% if images != [0] and images != [1] and images != [2] %}
                {% for image in images %}
                    <div class="col-xs-12 col-sm-6">
                    <div id="images" class="thumbnail">
                        <img src="{{ image.path }}">
                            <div class="caption">
                                <h3>{{ image.title }}</h3>
                                <a class="btn btn-primary" href="/image/{{ image.id }}">View recept</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                    
                <div id="signupHTML">
                    {% include 'signup.html'%}
                </div>

                <div id="loginHTML">
                    {% include 'login.html'%}
               </div>

                <div id="profileHTML">
                    {% include 'profile.html'%}
                </div>

                <script>
                    let status = localStorage.getItem('type');
                    console.log(status);

                </script>
                    <script>logIn("false")</script>
                </div>
    </div>
    <footer>
        © 2017 Fresh Tomatoes
    </footer>
{% endblock %}